html {
    font-size: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
}

:root {
    --main-width: 19rem;
}

body {
    background-color: white;
}

select {
    min-width: 8rem;
}

.form {
    background-color: rgb(230, 239, 239);
    border: 0.1rem solid black;
    border-radius: 10px;
    width: var(--main-width);
    margin: 10rem auto;
}

.heading {
    margin-bottom: 0.25rem;
}
.heading h1 {
    text-align: center;
}

.inner-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0.5rem auto;
    width: calc(var(--main-width) - 1.5rem);
}

.select-wall {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.select-wall .wall-container {
    display: none;
    gap : 0.5rem;
}

.form input[type="button"] {
    padding: 0.5rem;
    border-radius: 5px;
    border: 0.1rem solid black;
    min-width: 4rem;
    min-height: 2.5rem;
    text-align: center;
    font-size: 85%;
}

.form button {
    /* width: 50%; */
    height: 2.0rem;
    border: 0.1rem solid black;
    border-radius: 5px;
}





